* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #446b7249;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #3f4142;
    border-radius: 10px;
    transition: all 0.3s;
    &:hover{
        background: #5f6466;
    }
}

// just for identify
#one {
    background: aquamarine;
}
#tow {
    background: wheat;
}
#three {
    background: yellowgreen;
}
#four {
    background: darkcyan;
}
h1 {
    font-size: 50px;
}
